<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Expense Registration</title>
</head>

<section layout:fragment="content">

    <form class="form-horizontal" method="post" action="/expense" th:object="${expense}">
        <div layout:insert="message"></div>
        <div layout:insert="message-error"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title lp-title-panel">Search Expense</h1>
                    <A class="btn btn-link lp-link-panel" href="/expense">Search</A>
                </div>
            </div>

            <div class="panel-body">
                <input type="hidden" th:field="*{id}">
                <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
                    <label for="expense-description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="expense-description" th:field="*{description}"/>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('expenseDate')} ? has-error">
                    <label for="expense-date-payment" class="col-sm-2 control-label">Payment date</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="expense-date-payment" th:field="*{expenseDate}"
                               data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="GB"
                               data-date-autoclose="true" data-date-today-highlight="true"/>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('value')} ? has-error">
                    <label for="expense-value" class="col-sm-2 control-label">Value</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="expense-value" th:field="*{value}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="status" th:field="*{status}">
                            <option th:each="status : ${statusExpense}" th:value="${status}"
                                    th:text="${status.description}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</html>