<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Search Expenses</title>
</head>

<section layout:fragment="content">

    <div layout:insert="message"></div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title lp-title-panel">Search Expense</h1>
                <A class="btn btn-link lp-link-panel" href="/expense/new">New Expense</A>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center col-md-1">#</th>
                    <th>Description</th>
                    <th class="text-center col-md-2">Expire date</th>
                    <th class="text-right col-md-2">Value</th>
                    <th class="text-center col-md-2">Status</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e: ${expenses}">
                    <td class="text-center" th:text="${e.id}"/>
                    <td th:text="${e.description}"/>
                    <td class="text-center" th:text="${{e.expenseDate}}"/>
                    <td class="text-right" th:text="|€ ${{e.value}}|"/>
                    <td class="text-center">
                        <!--<span class="label"
                            th:classappend="${#strings.toString(e.status) == 'PENDING'  ?  'label-danger' : 'label-success'}"
                            h:text="${e.status.description}"/>
                        -->
                        <span class="label"
                              th:classappend="${e.pending ?  'label-danger' : 'label-success'}"
                              th:text="${e.status.description}"/>

                    </td>
                    <th class="text-center">
                        <a class="btn btn-link btn-xs" th:href="@{/expense/{id}(id=${e.id})}" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmation-dialog"
                           title="Delete" th:attr="data-id=${e.id}, data-description=${e.description}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </th>
                </tr>
                <tr>
                    <td colspan="6" th:if="${#lists.isEmpty(expenses)}">No results.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div layout:insert="confirmation-dialog"/>

    </div>
</section>
</html>